<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>

    <h2 class="flex m-auto justify-center" style="margin-bottom: 2rem; margin-top: 2rem">Calculadora de hipotecas</h2>

    <div class="flex flex-col m-auto justify-center items-center flex-wrap" style="border-top: black solid 2px; width: 25%">
        <h3>Inicia sesión para ver tu hipoteca</h3>
        <form action="#" th:action="@{/login}" th:object="${UsuarioModel}" method="post">
            <input type="text" th:field="*{email}" placeholder="email"/>
            <input type="password" th:field="*{password}" placeholder="contraseña"/>
            <input type="submit" value="Submit"/> <input type="reset" value="Reset"/>
        </form>
    </div>

</body>
</html>

