
.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.m-auto{
    margin: auto;
}

.p-4{
    padding: 2rem;
}