<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Cuenta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>

<div class="mask d-flex align-items-center h-100 gradient-custom-3 m-4">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-5">Crea una cuenta</h2>

                        <form th:action="@{/auth/signin}" th:object="${usuario}" method="POST">

                            <div class="form-outline mb-4">
                                <label class="form-label" for="username">Tu usuario</label>
                                <input type="text" id="username" name="username" th:field="*{username}" class="form-control form-control-lg" required/>
                                <span style="color: indianred; font-weight: bolder" th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}"></span>
                            </div>


                            <div class="form-outline mb-4">
                                <label class="form-label" for="email">Tu Email</label>
                                <input type="text" id="email" name="email" th:field="*{email}" class="form-control form-control-lg" required/>
                                <span style="color: indianred; font-weight: bolder" th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></span>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="password">Password</label>
                                <input type="password" id="password" name="password" th:field="*{password}" class="form-control form-control-lg" required/>
                                <span style="color: indianred; font-weight: bolder" th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"></span>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary">Registrar
                                </button>
                            </div>

                            <p class="text-center text-muted mt-5 mb-0">Ya tienes cuenta? <a th:href="@{/login}" class="fw-bold text-body"><u>Inicia sesión</u></a></p>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>